 .u-section-1 {
  min-height: 666px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 666px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-2 {
  margin: 20px 170px 0 1px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 18px 170px 0 21px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 25px auto 0 1px;
}

.u-section-1 .u-group-1 {
  min-height: 127px;
  width: 249px;
  height: auto;
  margin: 18px auto 0 1px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 18px 124px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -44px auto 0 154px;
}

.u-section-1 .u-text-5 {
  margin: -8px 137px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 666px;
  background-image: url("images/50114.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 595px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 595px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 70px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 70px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 130px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -53px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 1px;
  }

  .u-section-1 .u-image-1 {
    min-height: 549px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 623px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-right: 101px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 19px;
  }

  .u-section-1 .u-image-1 {
    min-height: 421px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1106px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 474px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 228px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 29px;
    margin-right: 103px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -32px;
    margin-left: 130px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -20px;
    margin-right: 116px;
  }

  .u-section-1 .u-image-1 {
    min-height: 632px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 796px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 398px;
  }
} .u-section-2 {
  min-height: 384px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 210px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  width: 129px;
  height: 62px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  width: 129px;
  height: 62px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  width: 129px;
  height: 62px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  width: 129px;
  height: 62px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-5 {
  width: 129px;
  height: 62px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-image-6 {
  width: 129px;
  height: 62px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-image-7 {
  width: 129px;
  height: 62px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-image-8 {
  width: 129px;
  height: 62px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 348px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 24px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 542px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 100vh;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 7px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 966px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 15px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 15px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 15px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 15px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 15px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 15px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 15px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-3 {
  min-height: 635px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 58px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 157px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 166px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 58px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 256px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px 0 16px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  --radius: 10px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 51px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 21px 18px 0 12px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px 0 16px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  --radius: 10px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 51px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 21px 18px 0 12px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 10px 0 16px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  --radius: 10px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 51px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-7 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 21px 18px 0 12px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 10px 0 16px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  background-image: none;
  --radius: 10px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 51px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-9 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-10 {
  margin: 21px 18px 0 12px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 606px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 22px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 137px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 193px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 950px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 493px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 22px 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 22px 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 22px 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 22px 30px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1269px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 57px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 24px;
    margin-bottom: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 861px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1292px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 40px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 40px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-4 {
  min-height: 666px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 666px;
  background-image: url("images/120303.jpg");
  background-position: 60.65% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 666px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 101px 0 1px;
}

.u-section-4 .u-text-2 {
  margin: 21px auto 0 1px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 1px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -46px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 80px 1px 0;
}

.u-section-4 .u-text-4 {
  margin: 21px 1px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 575px;
  }

  .u-section-4 .u-image-1 {
    min-height: 575px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 575px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 63px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 63px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 421px;
  }

  .u-section-4 .u-image-1 {
    min-height: 440px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1219px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 660px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    align-self: center;
    margin-left: 111px;
  }

  .u-section-4 .u-btn-2 {
    align-self: center;
    margin-top: -46px;
    margin-left: 321px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 925px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 416px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 3.75rem;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1131px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 235px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 235px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 747px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 163px;
  height: 119px;
  --radius: 10px;
  margin: 14px auto 0 98px;
}

.u-section-5 .u-text-3 {
  font-size: 2.25rem;
  margin: -102px 713px 0 306px;
}

.u-section-5 .u-text-4 {
  margin: -85px 203px 0 669px;
}

.u-section-5 .u-text-5 {
  margin: -108px 1149px 0 40px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  --radius: 10px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -21px auto 0 1147px;
  padding: 13px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 163px;
  height: 119px;
  --radius: 10px;
  margin: 14px auto 0 98px;
}

.u-section-5 .u-text-6 {
  font-size: 2.25rem;
  margin: -102px 713px 0 306px;
}

.u-section-5 .u-text-7 {
  margin: -85px 203px 0 669px;
}

.u-section-5 .u-text-8 {
  margin: -108px 1149px 0 40px;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  --radius: 10px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -21px auto 0 1147px;
  padding: 13px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  width: 163px;
  height: 119px;
  --radius: 10px;
  margin: 14px auto 0 98px;
}

.u-section-5 .u-text-9 {
  font-size: 2.25rem;
  margin: -102px 713px 0 306px;
}

.u-section-5 .u-text-10 {
  margin: -85px 203px 0 669px;
}

.u-section-5 .u-text-11 {
  margin: -108px 1149px 0 40px;
}

.u-section-5 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  --radius: 10px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -21px auto 0 1147px;
  padding: 13px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1026px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 194px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 194px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -130px;
    margin-left: 50px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 4px;
    margin-right: 503px;
    margin-left: 268px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -63px;
    margin-right: 130px;
    margin-left: 549px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -144px;
    margin-right: 962px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -200px;
    margin-left: 946px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -160px;
    margin-left: 50px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 75px;
    margin-right: 503px;
    margin-left: 268px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: -250px;
    margin-right: 130px;
    margin-left: 549px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 57px;
    margin-right: 962px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -159px;
    margin-left: 946px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -131px;
    margin-left: 50px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: -65px;
    margin-right: 503px;
    margin-left: 268px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: 56px;
    margin-right: 130px;
    margin-left: 549px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: -128px;
    margin-right: 962px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -92px;
    margin-left: 946px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1686px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1218px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 28px;
    margin-left: 98px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-right: 345px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 855px;
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: -339px;
    margin-right: 733px;
    margin-left: 9px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -66px;
    margin-left: 728px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -152px;
    margin-left: 98px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 3px;
    margin-right: 345px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: 31px;
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    margin-top: -456px;
    margin-right: 733px;
    margin-left: 9px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 262px;
    margin-left: 728px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -182px;
    margin-left: 98px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.5rem;
    margin-top: -206px;
    margin-right: 345px;
    margin-left: 0;
  }

  .u-section-5 .u-text-10 {
    margin-top: 84px;
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-5 .u-text-11 {
    margin-top: -162px;
    margin-right: 733px;
    margin-left: 9px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 402px;
    margin-left: 728px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1694px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -32px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 31px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -3px;
    margin-right: 273px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 428px;
    margin-right: 140px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -331px;
    margin-right: 570px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -81px;
    margin-left: 556px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 76px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 131px;
    margin-right: 273px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-7 {
    margin-top: -324px;
    margin-right: 140px;
  }

  .u-section-5 .u-text-8 {
    margin-top: -84px;
    margin-right: 570px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 245px;
    margin-left: 556px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: -171px;
  }

  .u-section-5 .u-text-9 {
    margin-top: -91px;
    margin-right: 273px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 83px;
    margin-right: 140px;
  }

  .u-section-5 .u-text-11 {
    margin-top: -268px;
    margin-right: 570px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 492px;
    margin-left: 556px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1877px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1347px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 22px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -24px;
    margin-right: 124px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 395px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -317px;
    margin-right: 380px;
    margin-left: 10px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 32px;
    margin-left: 366px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 83px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 126px;
    margin-right: 124px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-7 {
    margin-top: -334px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-8 {
    margin-top: -85px;
    margin-right: 380px;
    margin-left: 10px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 318px;
    margin-left: 366px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: -149px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-9 {
    margin-top: -92px;
    margin-right: 124px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 52px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-11 {
    margin-top: -253px;
    margin-right: 380px;
    margin-left: 10px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 550px;
    margin-left: 366px;
  }
} .u-section-6 {
  min-height: 656px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  width: 45px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  width: 227px;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 564px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 419px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 21px 0 0;
}

.u-section-6 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-9 {
  margin: 22px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 536px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-10 {
  line-height: 0.8;
  margin: 0 0 0 274px;
}

.u-section-6 .u-text-11 {
  margin: 60px 247px 0 0;
}

.u-section-6 .u-text-12 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 738px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 58px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 464px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 319px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 620px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-left: 82px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 147px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 314px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 354px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 209px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
  }

  .u-section-6 .u-text-11 {
    margin-right: 37px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 394px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 40px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    width: auto;
  }

  .u-section-6 .u-text-7 {
    margin-left: auto;
  }

  .u-section-6 .u-text-8 {
    margin-left: auto;
  }

  .u-section-6 .u-text-9 {
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-11 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-text-12 {
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1145px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-7 {
  min-height: 651px;
}

.u-section-7 .u-text-1 {
  margin: 20px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-text-2 {
  margin: 20px calc(((100% - 1140px) / 2)  + 518px) 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 400px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 10px;
}

.u-section-7 .u-image-2 {
  min-height: 400px;
  background-image: url("images/50114.jpg");
  --radius: 10px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 400px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 10px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 400px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 10px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 581px;
  }

  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 318px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-7 .u-image-1 {
    height: 264px;
  }

  .u-section-7 .u-image-2 {
    min-height: 330px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-7 .u-image-3 {
    height: 264px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-7 .u-image-4 {
    height: 264px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 716px;
  }

  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 98px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-7 .u-image-1 {
    height: 453px;
  }

  .u-section-7 .u-image-2 {
    min-height: 506px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 506px;
  }

  .u-section-7 .u-image-3 {
    height: 453px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 506px;
  }

  .u-section-7 .u-image-4 {
    height: 453px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 969px;
  }

  .u-section-7 .u-text-1 {
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 785px;
  }

  .u-section-7 .u-image-2 {
    min-height: 759px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 759px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 785px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 759px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    height: 785px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 688px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-7 .u-image-1 {
    height: 483px;
  }

  .u-section-7 .u-image-2 {
    min-height: 478px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 478px;
  }

  .u-section-7 .u-image-3 {
    height: 483px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 478px;
  }

  .u-section-7 .u-image-4 {
    height: 483px;
  }
} .u-section-8 {
  min-height: 666px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 666px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 30px 31px;
}

.u-section-8 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 30px 284px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  margin: 30px auto 0 0;
}

.u-section-8 .u-image-1 {
  min-height: 666px;
  background-image: url("images/42762.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 549px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 549px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 184px;
  }

  .u-section-8 .u-image-1 {
    min-height: 549px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 421px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 75px;
  }

  .u-section-8 .u-image-1 {
    min-height: 421px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1035px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: -169px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-left: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    min-height: 632px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 796px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 398px;
  }
} .u-section-9 {
  background-image: url("images/77614.jpg");
}

.u-section-9 .u-sheet-1 {
  min-height: 586px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    background-position: 50% 50%;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 400px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 380px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-10 .u-text-2 {
  width: 659px;
  margin: 21px auto 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-10 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
  }
}