 .u-section-1 {
  min-height: 659px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 659px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 98px;
}

.u-section-1 .u-text-1 {
  margin: 141px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  margin: 21px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: 35px auto 0 12px;
}

.u-section-1 .u-image-1 {
  min-height: 659px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/photo-1522071820081-009f0129c71c.jpeg");
  background-size: cover;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 543px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 543px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 460px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 416px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 964px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 49px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 624px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 746px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -51px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 393px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 213px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 106px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 113px;
}

.u-section-2 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-2 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 41px;
    margin-bottom: 41px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 87px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 94px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 481px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 381px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 2px;
}

.u-section-3 .u-text-2 {
  margin: 24px 0 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 381px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-tabs-1 {
  min-height: 202px;
  margin-bottom: 0;
  margin-top: 0;
  height: auto;
}

.u-section-3 .u-tab-link-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-tab-link-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-tab-link-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  padding: 10px 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 21px 0;
}

.u-section-3 .u-image-1 {
  width: 144px;
  height: 96px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 19px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  min-height: 377px;
}

.u-section-4 .u-gallery-1 {
  height: 377px;
  margin-top: 0;
  margin-bottom: -377px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 0px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 311px;
  }

  .u-section-4 .u-gallery-1 {
    margin-bottom: -688px;
    height: 311px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 953px;
  }

  .u-section-4 .u-gallery-1 {
    margin-bottom: -807px;
    height: 953px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2859px;
  }

  .u-section-4 .u-gallery-1 {
    margin-bottom: 0;
    height: 2859px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1801px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    height: 1800px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 388px;
}

.u-section-5 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(25% - 15px);
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 268px;
  grid-gap: 20px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 25px auto 0;
  padding: 13px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 29px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 25px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 25px auto 0;
  padding: 13px;
}

.u-section-5 .u-text-3 {
  font-size: 3rem;
  font-weight: 300;
  margin: 29px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 25px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 25px auto 0;
  padding: 13px;
}

.u-section-5 .u-text-5 {
  font-size: 3rem;
  font-weight: 300;
  margin: 29px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 25px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-icon-4 {
  width: 64px;
  height: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 25px auto 0;
  padding: 13px;
}

.u-section-5 .u-text-7 {
  font-size: 3rem;
  font-weight: 300;
  margin: 29px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 218px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 714px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 842px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 689px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 569px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-group-1 {
  min-height: 50px;
  height: auto;
  width: 90px;
  margin: 66px 420px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 13px auto 0 10px;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 533px;
  background-position: 74.32% 50%;
  background-repeat: no-repeat;
  background-image: url("images/14595.jpg");
  background-size: cover;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 0;
    margin-right: auto;
    height: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 17px;
    margin-bottom: 17px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-text-4 {
    width: auto;
  }

  .u-section-6 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 504px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 317px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 212px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 62px;
  margin-bottom: 29px;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(20% - 8px);
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 120px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 7px 0 42px 20px;
}

.u-section-7 .u-image-1 {
  width: 180px;
  height: 70px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 7px 0 42px 20px;
}

.u-section-7 .u-image-2 {
  width: 180px;
  height: 70px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 7px 0 42px 20px;
}

.u-section-7 .u-image-3 {
  width: 180px;
  height: 70px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-7 .u-list-item-4 {
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 7px 0 42px 20px;
}

.u-section-7 .u-image-4 {
  width: 180px;
  height: 70px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 7px 0 42px 20px;
}

.u-section-7 .u-image-5 {
  width: 180px;
  height: 70px;
  margin-top: 1px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    height: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 156px;
  }

  .u-section-7 .u-image-1 {
    inset: auto;
  }

  .u-section-7 .u-image-2 {
    inset: auto;
  }

  .u-section-7 .u-image-3 {
    inset: auto;
  }

  .u-section-7 .u-image-4 {
    inset: auto;
  }

  .u-section-7 .u-image-5 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 444px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 689px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-image-1 {
  min-height: 569px;
  background-image: url("images/concentrated-colleagues-office-using-computer.jpg");
  background-position: 5.2% 50%;
  background-size: cover;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 569px;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-group-1 {
  min-height: 50px;
  height: auto;
  width: 400px;
  margin: 65px 110px 0 0;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-8 .u-text-1 {
  margin: 13px auto 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 3rem;
  margin: 30px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 31px 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: -5px;
  }

  .u-section-8 .u-image-1 {
    min-height: 469px;
    background-position: 74.32% 50%;
    background-repeat: no-repeat;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-8 .u-group-1 {
    width: 260px;
    margin-top: 0;
    margin-right: 150px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-8 .u-image-1 {
    min-height: 540px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-group-1 {
    margin-right: 40px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    font-size: 2.25rem;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 61px;
  }

  .u-section-8 .u-image-1 {
    min-height: 523px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-group-1 {
    width: 325px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-1 {
    margin-left: auto;
  }

  .u-section-8 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-3 {
    width: auto;
  }

  .u-section-8 .u-text-4 {
    width: auto;
  }

  .u-section-8 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-8 .u-image-1 {
    min-height: 329px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-group-1 {
    width: 320px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 851px;
}

.u-section-9 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  width: 649px;
  margin: 21px auto 0;
}

.u-section-9 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 59px;
}

.u-section-9 .u-repeater-1 {
  grid-auto-columns: calc(50% - 10px);
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 592px;
  grid-gap: 20px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  width: 96px;
  height: 96px;
  background-image: url("images/ds.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-3 {
  margin: -84px 0 0 127px;
}

.u-section-9 .u-text-4 {
  margin: 21px 0 0 127px;
}

.u-section-9 .u-text-5 {
  margin: 44px 0 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  width: 96px;
  height: 96px;
  background-image: url("images/hgghgh.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-6 {
  margin: -84px 0 0 127px;
}

.u-section-9 .u-text-7 {
  margin: 21px 0 0 127px;
}

.u-section-9 .u-text-8 {
  margin: 44px 0 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-image-3 {
  width: 96px;
  height: 96px;
  background-image: url("images/w.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-9 {
  margin: -84px 0 0 127px;
}

.u-section-9 .u-text-10 {
  margin: 21px 0 0 127px;
}

.u-section-9 .u-text-11 {
  margin: 44px 0 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-image-4 {
  width: 96px;
  height: 96px;
  background-image: url("images/happy-man-with-long-thick-ginger-beard-has-friendly-smile_273609-166161.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-12 {
  margin: -84px 0 0 127px;
}

.u-section-9 .u-text-13 {
  margin: 21px 0 0 127px;
}

.u-section-9 .u-text-14 {
  margin: 44px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-repeater-1 {
    min-height: 490px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
  }

  .u-section-9 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-9 .u-text-7 {
    margin-left: 0;
  }

  .u-section-9 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-9 .u-text-10 {
    margin-left: 0;
  }

  .u-section-9 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-9 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1766px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 1520px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    margin-left: auto;
  }

  .u-section-9 .u-text-3 {
    width: auto;
  }

  .u-section-9 .u-text-4 {
    width: auto;
  }

  .u-section-9 .u-text-5 {
    width: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    margin-left: auto;
  }

  .u-section-9 .u-text-6 {
    width: auto;
  }

  .u-section-9 .u-text-7 {
    width: auto;
  }

  .u-section-9 .u-text-8 {
    width: auto;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-3 {
    margin-left: auto;
  }

  .u-section-9 .u-text-9 {
    width: auto;
  }

  .u-section-9 .u-text-10 {
    width: auto;
  }

  .u-section-9 .u-text-11 {
    width: auto;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-4 {
    margin-left: auto;
  }

  .u-section-9 .u-text-12 {
    width: auto;
  }

  .u-section-9 .u-text-13 {
    width: auto;
  }

  .u-section-9 .u-text-14 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-2 {
    width: 340px;
  }
} .u-section-10 {
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 296px;
}

.u-section-10 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  margin: 20px auto 60px;
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 742px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 31px;
}

.u-section-11 .u-image-1 {
  min-height: 311px;
  background-image: url("images/happy-man-with-long-thick-ginger-beard-has-friendly-smile_273609-166161.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 311px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}

.u-section-11 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-11 .u-image-2 {
  min-height: 311px;
  background-image: url("images/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction_176420-15187.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-layout-cell-4 {
  min-height: 311px;
}

.u-section-11 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-11 .u-text-3 {
  margin: 108px 0 0;
}

.u-section-11 .u-text-4 {
  margin: 20px 0 30px;
}

.u-section-11 .u-image-3 {
  min-height: 311px;
  background-image: url("images/woman4.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-layout-cell-6 {
  min-height: 311px;
}

.u-section-11 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-11 .u-text-5 {
  margin: 0;
}

.u-section-11 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-11 .u-image-1 {
    min-height: 256px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-11 .u-image-2 {
    min-height: 256px;
  }

  .u-section-11 .u-layout-cell-4 {
    min-height: 256px;
  }

  .u-section-11 .u-image-3 {
    min-height: 256px;
  }

  .u-section-11 .u-layout-cell-6 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-11 .u-image-1 {
    min-height: 196px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-image-2 {
    min-height: 196px;
  }

  .u-section-11 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-11 .u-image-3 {
    min-height: 196px;
  }

  .u-section-11 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-11 .u-image-1 {
    min-height: 441px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-2 {
    min-height: 441px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-3 {
    min-height: 441px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-1 {
    min-height: 278px;
  }

  .u-section-11 .u-image-2 {
    min-height: 278px;
  }

  .u-section-11 .u-image-3 {
    min-height: 278px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 602px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 482px;
  background-size: cover;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-group-1 {
  min-height: 50px;
  height: auto;
  width: 255px;
  margin: 48px 255px 0 0;
}

.u-section-12 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-12 .u-text-1 {
  margin: 13px auto 0 20px;
}

.u-section-12 .u-text-2 {
  font-size: 3rem;
  margin: 30px auto 0 0;
}

.u-section-12 .u-text-3 {
  margin: 31px auto 0 0;
}

.u-section-12 .u-btn-1 {
  margin: 30px auto 0 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 482px;
}

.u-section-12 .u-container-layout-3 {
  padding: 30px;
}

.u-section-12 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-12 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-12 .u-icon-1 {
  height: 18px;
  width: 18px;
}

.u-section-12 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-4 {
  padding: 20px;
}

.u-section-12 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-12 .u-icon-2 {
  height: 18px;
  width: 18px;
}

.u-section-12 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-5 {
  padding: 20px;
}

.u-section-12 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-12 .u-icon-3 {
  height: 18px;
  width: 18px;
}

.u-section-12 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-12 .u-container-layout-6 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-12 .u-layout-cell-1 {
    background-repeat: no-repeat;
    min-height: 397px;
  }

  .u-section-12 .u-group-1 {
    width: 205px;
    height: auto;
  }

  .u-section-12 .u-layout-cell-2 {
    background-position: 74.32% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-group-1 {
    margin-right: 95px;
  }

  .u-section-12 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-group-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-text-1 {
    margin-left: auto;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-left: auto;
  }

  .u-section-12 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-12 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-12 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-12 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-text-2 {
    font-size: 1.875rem;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 699px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-13 .u-image-1 {
  min-height: 568px;
  background-image: url("images/happy-colleagues-office-talking-with-each-other.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 568px;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

.u-section-13 .u-group-1 {
  min-height: 50px;
  height: auto;
  width: 305px;
  margin: 2px 205px 0 0;
}

.u-section-13 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-13 .u-text-1 {
  margin: 13px auto 0 10px;
}

.u-section-13 .u-text-2 {
  margin: 30px auto 0 0;
}

.u-section-13 .u-form-1 {
  margin: 29px 0 0;
}

.u-section-13 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-13 .u-image-1 {
    min-height: 468px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-13 .u-group-1 {
    margin-right: 105px;
    height: auto;
  }

  .u-section-13 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-13 .u-image-1 {
    min-height: 358px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-13 .u-group-1 {
    width: 300px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1209px;
  }

  .u-section-13 .u-image-1 {
    min-height: 537px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 552px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-group-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-text-1 {
    margin-left: auto;
  }

  .u-section-13 .u-text-2 {
    margin-top: 33px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: 63px;
    margin-bottom: 32px;
  }

  .u-section-13 .u-image-1 {
    min-height: 338px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }
}